.about-container p{
  color:darkslategrey;
}

.about-container h1{
  color: #e1801e;
}

.about-container h2{
  color: #e1801e;
}

.about-leslie p{
  font-size: 0.85rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
