.custom-navbar {
    background-color: #59191a !important;
  }

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #d1a94b !important;
}

.custom-navbar .nav-link:hover {
  text-decoration: underline;
}